// Heading Color
$heading-color: #252525;

// Text Color
$text-color: #828282;

// Default Background
$bg-default: #ffb016;

// Gray Background
$bg-gray: #f3f5f8;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #000000;

// Border Color
$border-color: #d0d5d8;

// Hover Color
$hover-color: #ffb016;