<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Vcard - Resume CV &amp; Vcard Template</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <div class="loader"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Navbar Area -->
        <div class="vcard-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="vcardNav">

                        <a href="index-onepage.html" class="nav-brand"><img src="img/core-img/logo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul id="vcardMenu">
                                    <li class="active"><a href="index-onepage.html">Version One</a></li>
                                    <li><a href="index-horizontal-about.html">Version Two</a></li>
                                </ul>

                                <!-- Contact Button -->
                                <div class="contact-btn-area">
                                    <a href="#" class="btn vcard-btn contact-btn">Available for freelance work</a>
                                </div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area bg-img clearfix" style="background-image: url(img/bg-img/bg1.jpg);" id="about">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 col-sm-10 col-md-8">
                    <!-- Hero Content -->
                    <div class="hero-content">
                        <h5>Hello I’m</h5>
                        <h2>Maria Smith</h2>
                        <h3>Digital Designer &amp; Illustrator</h3>
                        <!-- Contact Info -->
                        <div class="contact-info mt-30">
                            <a href="#"><img src="img/core-img/envelope-small.png" alt=""> contactme@templatename.com</a>
                            <a href="#"><img src="img/core-img/phone-call-small.png" alt=""> +76 6524 567862 763</a>
                            <a href="#"><img src="img/core-img/monitor-small.png" alt=""> www.mytemplatename.com</a>
                        </div>
                        <!-- Social Info -->
                        <div class="social-info mt-30">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->

    <div class="view-versions section-padding-100-0">
        <div class="container-fluid">
            <div class="row">
                <!-- Single Versions -->
                <div class="col-12 col-md-6">
                    <div class="single-version-area">
                        <a href="index-onepage.html">
                            <img src="img/bg-img/v1.png" alt="">
                            <div class="version-info">
                                <h4>Version One</h4>
                                <p>One Page Layout</p>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Single Versions -->
                <div class="col-12 col-md-6">
                    <div class="single-version-area">
                        <a href="index-horizontal-about.html">
                            <img src="img/bg-img/v2.png" alt="">
                            <div class="version-info">
                                <h4>Version Two</h4>
                                <p>Horizontally Multi Page Layout</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area bg-gray">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <!-- Copywrite -->
                <div class="col-12 text-center">
                    <p><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>