<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Vcard - Resume CV &amp; Vcard Template</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>

    <div class="vcard-main-wrapper">
        <div class="vcard-content-wrapper bg-img" style="background-image: url(img/bg-img/bg7.jpg);">


            <!-- Contact Button -->
            <div class="horizontal-contact-btn">
                <a href="#" class="btn vcard-btn contact-btn"><i class="fa fa-envelope-o"></i><span>Available for freelance work</span></a>
            </div>


            <!-- Header Area -->
            <header class="header_area">
                <!-- Logo -->
                <div class="logo d-flex justify-content-center align-items-center">
                    <a href="index-horizontal-about.html"><img src="img/core-img/logo2.png" alt=""></a>
                    <!-- Navbar Toggle -->
                    <div class="nav-toggle">
                        <i class="fa fa-bars"></i>
                    </div>
                </div>

                <!-- Menu -->
                <ul class="vcard-nav">
                    <li><a href="index-horizontal-about.html">About</a></li>
                    <li><a href="index-horizontal-skills.html">Skills</a></li>
                    <li><a href="index-horizontal-services.html">Services</a></li>
                    <li><a href="index-horizontal-experience.html">Experience</a></li>
                    <li><a href="index-horizontal-education.html">Education</a></li>
                    <li><a href="index-horizontal-portfolio.html">Portfolio</a></li>
                    <li class="active"><a href="index-horizontal-testimonials.html">Testimonials</a></li>
                    <li><a href="index-horizontal-contact.html">Contact</a></li>
                </ul>
            </header>

            <!-- Vcard Page Content -->
            <div class="vcard-page-content-wrapper d-flex align-items-end">
                <div class="page-content">

                    <!-- ##### Testimonials Area Start ##### -->
                    <section class="testimonials-area section-padding-100">
                        <div class="container-fluid">
                            <div class="row">
                                <!-- Section Heading -->
                                <div class="col-12">
                                    <div class="section-heading">
                                        <h2>Client’s testimonials</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">

                                    <!-- Testimonial Slides -->
                                    <div class="testimonial-slides horizontal owl-carousel">

                                        <!-- Single Testimonial Area -->
                                        <div class="single-testimonial">
                                            <h5>I really love it</h5>
                                            <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                                            <div class="testimonial-author-info mt-50">
                                                <img src="img/bg-img/tes.jpg" alt="">
                                                <h6>Daiane Smith, <span>Customer</span></h6>
                                            </div>
                                        </div>

                                        <!-- Single Testimonial Area -->
                                        <div class="single-testimonial">
                                            <h5>5* Design &amp; Functionality</h5>
                                            <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                                            <div class="testimonial-author-info mt-50">
                                                <img src="img/bg-img/tes.jpg" alt="">
                                                <h6>Daiane Smith, <span>Client</span></h6>
                                            </div>
                                        </div>

                                        <!-- Single Testimonial Area -->
                                        <div class="single-testimonial">
                                            <h5>The best pack out there</h5>
                                            <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                                            <div class="testimonial-author-info mt-50">
                                                <img src="img/bg-img/tes.jpg" alt="">
                                                <h6>Daiane Smith, <span>Customer</span></h6>
                                            </div>
                                        </div>

                                        <!-- Single Testimonial Area -->
                                        <div class="single-testimonial">
                                            <h5>5* Design &amp; Functionality</h5>
                                            <p>Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit amet tellus blandit. Etiam nec odio vestibulum est mattis effic iturut magna. Pellentesque sit am et tellus blandit. Etiam nec odio vestibul. Etiam nec odio vestibulum est mat tis effic iturut magna.</p>
                                            <div class="testimonial-author-info mt-50">
                                                <img src="img/bg-img/tes.jpg" alt="">
                                                <h6>Daiane Smith, <span>Customer</span></h6>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <p class="mt-5"><a href="#"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    <!-- ##### Testimonials Area End ##### -->

                </div>
            </div>

        </div>
    </div>

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

</body>

</html>